<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/C32_neo4j_Conv_SctNode.css">
</head>

<body>
<h1>Creating Nodes for SNOMED-CT Concepts:</h1>

<div class="jpeg-preview">
    <img src="{% url 'seve_jpegCKEG_name7' %}" alt="Generated Graph" style="width:40%; height:auto;">
</div>

<div class="container">


    <form id="allFormC20" method="post">

        <div id="progressBarContainer" class="progress-container">
            <div id="progressBar" class="progress-bar">0%</div>
        </div>

        <div id="runButtonDiv" style="display:block;">
            {% csrf_token %}
            {{ runButton.as_p }}
        </div>

        <div id="nextButtonC20Div" style="display:none;">
            {% csrf_token %}
            {{ nextButton.as_p }}
        </div>

        <div id="softProtocol" data-g-prot="{{ softwareProtocol }}" style="display: none;"></div>


        <script src="../static/js/C32_neo4j_Conv_SctNode.js" type="module"></script>
    </form>


</div>

</body>
</html>