<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/C39_neo4j_DK2.css">
</head>

<body>
<h1>The Neo4j Queries Used for Converting Event Logs to LPG:</h1>


<div class="container">

    <div class="query-preview">

    </div>

    <div class="svg-preview">

    </div>


    <div class="next-Button">
        <form id="allFormSubmit" method="post">



            <a>Click to run and go the next page:</a>

            <div id="nextButtonDiv" style="display:block;">
                {% csrf_token %}
                {{ nextButton.as_p }}
            </div>





            <script src="../static/js/C39_neo4j_DK2.js" type="module"></script>
        </form>


    </div>
</div>

</body>
</html>
