<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/E53_DFG1.css">
    <link rel="stylesheet" href="../static/highlight/styles/default.css">
    <script src="../static/highlight/highlight.min.js"></script>
</head>

<body>
<h1></h1>

<div class="container">

    <div class="output-result">
        <h1>The Neo4j Queries Used for Discovering Care Pathways from the Clinical Event Knowledge Graph:</h1>



        <div class="graphviz-pdf">
            <h1 class="graphviz-pdf-heading">The Event Graph Output:</h1>
            <button onclick="window.open('{% url 'serve_pdf_name' %}', '_blank');">Open PDF in New Tab</button>
            <iframe src="{% url 'serve_pdf_name' %}" style="width:100%; height:800px;" frameborder="0">
                This browser does not support PDFs. Please download the PDF to view it: <a href="{{ pdf_url }}">Download
                PDF</a>.
            </iframe>
        </div>


        <div class="graphviz-queries">
            <h1 class="graphviz-queries-heading">These are the queries used for creating theis graph by graphviz:</h1>
            <button onclick="window.open('{% url 'serve_graphvizQ_name' %}', '_blank');">Open Graphviz Queries in New Tab
            </button>
            <pre><code class="graphql">
        {{ graphvizQuery }}
    </code></pre>
        </div>


        <script src="../static/highlight/languages/graphql.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                hljs.highlightAll();
            });
        </script>

    </div>


    <div class="configuration">
        <form id="allFormSubmit" method="post">

            <a>Click Finish to return to the files browser</a>


            <div id="finishDiv" style="display:block;">
                {% csrf_token %}
                {{ browseButton.as_p }}
            </div>
            <script src="../static/js/E53_DFG.js" type="module"></script>
        </form>
    </div>

</div>

</body>
</html>
